.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-item img {
  width: 240px;
  border-radius: 4px;
}

.movie-item h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.ImageContainer{
  width: 400px;
  height:300px
}