.header {
    background-color: #060606;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header .logo {
    height: 25px;
    margin-right: 45px;
    padding-left: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%; /* ensures the nav-links use full width */
    justify-content: space-between; /* pushes the .right item to the edge */
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #E5E5E5;
    text-decoration: none;
    font-size: 14px;
}

.nav-links .right {
    display: flex;
    align-items: center;
    padding-left: 840px;
}

.nav-links .right .icon-search {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.jeunesse-title {
    margin-left: 10px;
}

.nav-links .right .icon-bell {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 20px;
}
