/* header.css */
.header {
    background-color: #141414; /* Noir typique de Netflix */
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Ajustez selon le padding désiré */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header .logo {
    height: 35px; /* Taille du logo Netflix */
    margin-right: 20px; /* Espacement après le logo */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px; /* Espacement entre les liens */
}

.nav-links li a {
    color: white;
    text-decoration: none; /* Supprime le soulignement des liens */
    font-size: 16px; /* Taille de police des liens */
}

.nav-links img {
    height: 20px; /* Taille de l'icône de recherche */
    cursor: pointer; /* Change le curseur en pointeur sur l'icône */
}

/* Ajoutez des effets au survol des liens */
.nav-links li a:hover, .nav-links img:hover {
    text-decoration: underline; /* Souligne les liens au survol */
}
